{% extends "base.html" %}
{% load static staticv qs capture_extras %}

{% block title %}Library · Paperclip{% endblock %}

{% block content %}
<div class="z-shell" id="z-shell" style="--left-w:260px; --right-w:360px">

  {% include "captures/_library_toolbar.html" %}
  {% include "captures/_library_left.html" %}

  <div class="z-splitter z-splitter-left" id="z-splitter-left" title="Drag to resize"></div>

  {% include "captures/_library_table.html" %}

  <div class="z-splitter z-splitter-right" id="z-splitter-right" title="Drag to resize"></div>

  <aside class="z-right" id="z-right" aria-label="Details panel">
    <div class="z-info" id="z-info">
      <div class="z-info-empty">Select an item to see details.</div>
    </div>
  </aside>
</div>

<!-- Simple modal used for New/Rename collection -->
<div id="pc-modal" class="pc-modal" aria-hidden="true">
  <div class="dialog" role="dialog" aria-modal="true" aria-labelledby="pc-modal-title">
    <h3 id="pc-modal-title">Title</h3>
    <div class="row"><input id="pc-modal-input" class="z-input" placeholder="Name" /></div>
    <div class="actions">
      <button id="pc-modal-cancel" class="btn" type="button">Cancel</button>
      <button id="pc-modal-submit" class="btn btn--primary" type="button">OK</button>
    </div>
  </div>
</div>

<link rel="stylesheet" href="{% staticv 'captures/libraries.css' %}">
<link rel="stylesheet" href="{% staticv 'captures/library/years.css' %}">
<script type="module" src="{% staticv 'captures/library/index.js' %}"></script>
{% endblock %}
