{% extends "base.html" %}
{% load static qs capture_extras %}

{% block title %}Library · Paperclip{% endblock %}

{% block content %}
<div class="z-shell" id="z-shell" style="--left-w:260px; --right-w:360px">

  {% include "captures/_library_toolbar.html" %}

  {% include "captures/_library_left.html" %}

  <div class="z-splitter z-splitter-left" id="z-splitter-left" title="Drag to resize"></div>

  {% include "captures/_library_table.html" %}

  <div class="z-splitter z-splitter-right" id="z-splitter-right" title="Drag to resize"></div>

   --> --> -->
{% endblock %}
